/* Site Colors:
	#1A446C - blue grey
	#689DC1 - light blue
	#D4E6F4 - very light blue
	#EEE4B9 - light tan
	#8D0D19 - burgundy
	#e6e3d4-  light burgundy
*/


/*@font-face{
	font-family: "me";
	src:url('../fonts/learning_curve.ttf') format('truetype');
}
*/


html { height: 100%; width: 100%; }
body {
	width: 100%; 
	height: auto;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background: #D4E6F4;
	font-size: 13px;
	 line-height: 15px;
	  }
img { border: none; }

table, tr, td {
 border-collapse: collapse; 
 vertical-align: top; 
  font-size: 13px; 
  line-height: 15px;
}


/*div>a { color:#8D0D19;}
li>a { color:#8D0D19;}
*/

#header { 

	height: 7em; 
	margin: 0px;
 	padding:1px;
 	text-align: center; 
	background: #1A446C;  
	color: #D4E6F4; 

			}

#header p {
	/*color: red;*/
 	padding: 0px; 
	/*font-family:"me", helvetica;*/
	font-size: 16px;
 	margin: 0px;}

#main {
 margin: 0px;
 padding: 0px;
 height: 600px; 
 width: 100%;
 background: #EEE4B9; 
}

#structure { height: 100%; width: 100%; }

#footer { 
	height: 5em; 
	margin: 0px;
 	padding: 1em;
 	text-align: center; 
	background: #1A446C;  
	color: #D4E6F4; }

/*starting of the nav*/
#navigation {
	width: 200px;
	padding: 1px;
	color: #D4E6F4;
	background: #8D0D19;
		      }

img{
	width:100px;
	height:100px;
	padding: 20px;
 

}

/*links*/
 .li{
	 width:180px;
	 margin-left:0px;
	 text-decoration:none;
	 list-style-type:none;
	 list-style-position:inside;
	 height:30px;
	 border:solid 1px #CCC;
	 border-radius: 1px;
	 padding-left: 5px;
	 padding-top: 5px;
	 font-family: calibri;
	 margin-bottom:1px;
	 display:block;
 }

 .lit{
	 width:180px;
	 margin-left:0px;
	 text-decoration:none;
	 list-style-type:none;
	 list-style-position:inside;
	 height:30px;
	 border:solid 1px #CCC;
	 border-radius: 1px;
	 padding-left: 25px;
	 padding-top: 5px;
	 color:#fff;
	 font-size: 15px;
	 margin-bottom:1px;
	 display:block;
 }

 
 .li:hover{
	 border:solid 1px #06F;
	 border-radius: 3px;
	 background-color:#FAFAFA;
	 color: #FFF;
	 font-weight:bold;
 }
 
 .li:hover a{
	 color:#006;
	
 }
 
 .li a{
	 color:#FFF; 
	 font-size: 15px;
	 text-decoration:none;
 }

/*end of nav*/

#page {
	padding-left: 2em; 
	vertical-align: top;
	background: #EEE4B9; 
			}

#page h2 {
	 color: #8D0D19;	
 	margin-top: 1em;
 			}

#page h3 { color: #8D0D19; }


#form_page { 
		padding-left: 28em; 
		vertical-align: top; 
		background: #EEE4B9;
			 }

#form_page h2 { 
	color: #8D0D19; 
	margin-top: 1em;
			}

#form_page h3 { color: #8D0D19; }
